body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

svg {
  width: 12px;
  height: 12px;
  fill: #222;
}

#videoInput {
  display: none;
}

.container {
  max-width: 100%;
  width: fit-content;
  max-height: 90vh;
  position: relative;
  background-color: #222;
  margin: 0 auto;
}

.video-container > video {
  width: 100%;
  max-height: 90vh;
}

.choose-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #0984e3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 0;
}

.choose-video svg {
  fill: #fefefe;
}

.progress-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.progress {
  position: absolute;
  width: 0;
  height: 5px;
  background-color: rgb(43, 159, 226);
}

.controls-main {
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 5px;
  transition: all 0.5s;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  align-items: center;
}

.btn-group {
  display: flex;
  align-items: center;
}

.btn-group:nth-child(2) {
  justify-content: space-evenly;
}

.btn-group:nth-child(3) {
  justify-content: flex-end;
}

.btn-group:nth-child(1) {
  justify-content: flex-start;
}

.btn {
  width: 15px;
  height: 15px;
  font-size: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-stop {
  margin-left: 10px;
}

.volume-show-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-show {
  color: #222;
  font-size: 0.2em;
  transition: all 0.5s ease;
}

.btn-full-screen {
  margin-right: 10px;
  margin-left: 5px;
}

.volume-show {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
