.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete svg {
  fill: #d63031;
}

.list-group-item span,
.list-group-item img {
  cursor: pointer;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.text-decoration {
  text-decoration: none;
  position: relative;
}

.text-decoration::before {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(+100%);
  border-bottom: 1px solid #333;
}

.list-group-item > span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
